.hero {
  padding: 30px 0;
}

.title {
  margin-top: 204px;
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 90px;
  line-height: 1;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #121212;
}

.btn {
  padding: 9px 24px;
  margin-bottom: 204px;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #121212;

  border-width: 0.8px;
  border-style: solid;
  border-color: inherit;

  border-radius: 32px;
  background: transparent;
  cursor: pointer;
}

.table-btn {
  width: 167px;
}

.menu-btn {
  width: 160px;
}

.restaurant-slider {
  width: 50%;
}

.hero-desc {
  min-width: 338px;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #121212;
}
