<section class="hero">
  <div class="container">
    <h1 class="title">Restaurant</h1>
    <button class="table-btn btn">book a table</button>
    <button class="menu-btn btn">View a menu</button>
    <div class="restaurant-slider gallery">
      <a href="./img/restaurant/restaurant2x_1.jpg"
        ><img src="./img/restaurant/restaurant1x_1.jpg" alt=""
      /></a>
      <a href="./img/restaurant/restaurant2x_2.jpg"
        ><img src="./img/restaurant/restaurant1x_2.jpg" alt=""
      /></a>
      <a href="./img/restaurant/restaurant2x_3.jpg"
        ><img src="./img/restaurant/restaurant1x_3.jpg" alt=""
      /></a>
      <a href="./img/restaurant/restaurant2x_4.jpg"
        ><img src="./img/restaurant/restaurant1x_4.jpg" alt=""
      /></a>
      <a href="./img/restaurant/restaurant2x_5.jpg"
        ><img src="./img/restaurant/restaurant1x_5.jpg" alt=""
      /></a>
      <a href="./img/restaurant/restaurant2x_6.jpg"
        ><img src="./img/restaurant/restaurant1x_6.jpg" alt=""
      /></a>
    </div>
    <p class="hero-desc">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      <i>romantic dinner</i>, our menu has something for everyone.
    </p>
  </div>
</section>
