<section class="menu">
  <div class="container menu-container">
    <div class="menu-hot">
      <h2 class="menu-title">Hot meals</h2>
      <ul class="menu-list list">
        <li class="menu-item">
          <div class="menu-cont">
            <p>Veal borscht with beans</p>
            <p>400 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">
              Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes,
              greens, sour cream
            </p>
            <p>240 UAH</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-cont">
            <p>Cheese soup with chicken</p>
            <p>400 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">
              Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens
            </p>
            <p>200 UAH</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-cont">
            <p>Carbonara pasta</p>
            <p>400 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">
              Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
            </p>
            <p>430 UAH</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-cont">
            <p>Pork steak</p>
            <p>400 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">
              Pork tenderloin, spices, served with sweet chili sauce and
              vegetables
            </p>
            <p>500 UAH</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-cont">
            <p>Gorbusha in white wine sauce</p>
            <p>400 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">
              Tender redfish, cream sauce based on white wine
            </p>
            <p>400 UAH</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="menu-hot">
      <h2 class="menu-title">Side dishes and snacks</h2>
      <ul class="menu-list list">
        <li class="menu-item">
          <div class="menu-cont">
            <p class="menu-dish">Baked vegetables</p>
            <p>200 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">Zucchini, pepper, tomato, eggplant</p>
            <p>230 UAH</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-cont">
            <p class="menu-dish">French fries</p>
            <p>150 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">Potatoes, tomato sauce</p>
            <p>160 UAH</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-cont">
            <p class="menu-dish">Peasant-style potatoes</p>
            <p>150 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">Potatoes, spices, spicy sauces</p>
            <p>160 UAH</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-cont">
            <p class="menu-dish">Crisp pickles from the barrel</p>
            <p>250 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">
              Salted cucumber, pickled tomato, sauerkraut, Korean carrot
            </p>
            <p>350 UAH</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-cont">
            <p class="menu-dish">Chicken wings in honey sauce</p>
            <p>400 g</p>
          </div>
          <div class="menu-cont">
            <p class="menu-text">
              Chicken wings, mustard-honey sauce, served with carrots, celery
              and blue cheese sauce
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
